.daysContainer{
    padding: 1em;
}
.dayContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-size: 1.17rem;
}
.dateHeader{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.weather{
    flex:2
}

.dayTime{
    flex:2
}

.dayTemp{
    flex:1;
}
.dayRainProb{
    flex:2;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}