<div class="wrapper">
  <div class="innerContainer">
    <div *ngFor="let wl of wLocations" class="locationContainer mt-3">
      <weatherLocation [location]="wl"></weatherLocation>
    </div>
  </div>
  <button *ngIf="isAddingNewLocation===false" class="btn btn-dark" (click)="isAddingNewLocation=true"
    id="addNewLocationButton"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
      class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg></button>
</div>
<div *ngIf="wLocations.length===0 || isAddingNewLocation" class="customModal centerFlex"
  (click)="isAddingNewLocation=false" tabindex="-1">
  <div (click)="stopPropagation($event)" class="emptylocationContainer mt-3 centerFlex">
    <emptyLocation></emptyLocation>
  </div>
</div>