<!--<div class="container">
  <div class="innerContainer">
    <div class="row">
        <div class="col-xs col-sm col-md col-lg">
          <emptylocation></emptylocation>
        </div>
        <div class="col-xs col-sm col-md col-lg">
          <emptylocation></emptylocation>
        </div>
    </div>
  </div>
</div>-->


<div class="wrapper">
  <div class="innerContainer">
    <nav class="nav text-end">
      <button type="button" class="btn btn-outline-dark">+</button>
    </nav>
    <div class="col">

    </div>
  </div>
</div>