<div class="wrapper">
  <div class="innerContainer">
    <div class="locationContainer mt-3">
      <emptylocation></emptylocation>
    </div>
    <div class="locationContainer mt-3">
      <emptylocation></emptylocation>
    </div>
    <div class="locationContainer mt-3">
      <emptylocation></emptylocation>
    </div>
    <div class="locationContainer mt-3">
      <emptylocation></emptylocation>
    </div>
    <div class="locationContainer mt-3">
      <emptylocation></emptylocation>
    </div>
  </div>
</div>