.hourContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.dateHeader{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.dateHeader>div:first-child{
    flex:9;
}
.dateHeader>div:last-child{
    color: aquamarine;
}
.dateHeader>div:last-child:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.weatherIcon{
    height: 70px;
    width: 70px;
}
.rainProbIco{
    height: 2em;
    width: 2em;
}
.weather{
    flex:2
}

.hourTime{
    flex:2
}

.hourTemp{
    flex:2
}

.hourRainProb{
    flex:2;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}