.hourContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.iconWrapper>img{
    height: 70px;
    width: 70px;
}

.iconWrapper{
    flex:1
}

.hourTime{
    flex:1
}

.hourTemp{
    flex:3
}

.hourRainProb{
    flex:1
}