<div class="h100 hoursContainer">
    <div *ngIf="showAlert" class="row">
        <cacheAlert></cacheAlert>
    </div>
    <div *ngFor="let g of groupedData" class="p-2">
        <div class="dateHeader text-center p-2">
            <div class="text-center">
                {{g.f | date}}
            </div>
            <!--
            <div class="">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill" />
                </svg>
            </div>-->
        </div>
        <div *ngFor="let h of g.hrs" class="hourContainer p-2">
            <div class="hourTime">{{h.transformedTime | date:'hh aa' }}</div>
            <div class="hourTemp text-center">{{h.temp | number:'1.0-0'}}ºC </div>
            <div class="weather">

                <img class="weatherIcon" src="{{h.weather[0].icon}}" />
            </div>
            <div class="hourRainProb">
                <img class="rainProbIco" src="{{icons.rainProb}}" />
                {{h.pop | percent}}
            </div>
        </div>
    </div>
</div>