<div *ngIf="!deleteLocation" class="container h100 customContainer">
    <div class="row button_list">
        <button class="btn btn-light toggleDetails">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-thermometer-sun" viewBox="0 0 16 16">
                <path d="M5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585A1.5 1.5 0 0 1 5 12.5z" />
                <path
                    d="M1 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM3.5 1A1.5 1.5 0 0 0 2 2.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0L5 10.486V2.5A1.5 1.5 0 0 0 3.5 1zm5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm4.243 1.757a.5.5 0 0 1 0 .707l-.707.708a.5.5 0 1 1-.708-.708l.708-.707a.5.5 0 0 1 .707 0zM8 5.5a.5.5 0 0 1 .5-.5 3 3 0 1 1 0 6 .5.5 0 0 1 0-1 2 2 0 0 0 0-4 .5.5 0 0 1-.5-.5zM12.5 8a.5.5 0 0 1 .5-.5h1a.5.5 0 1 1 0 1h-1a.5.5 0 0 1-.5-.5zm-1.172 2.828a.5.5 0 0 1 .708 0l.707.708a.5.5 0 0 1-.707.707l-.708-.707a.5.5 0 0 1 0-.708zM8.5 12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5z" />
            </svg>
        </button>
        <button class="btn btn-light toggleForecast">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar-range" viewBox="0 0 16 16">
                <path d="M9 7a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1zM1 9h4a1 1 0 0 1 0 2H1V9z" />
                <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            </svg>
        </button>
    </div>
    <div class="locationContent">
        <div class="row locationAndDate text-center">
            <h1>{{wLocation.name}}</h1>
            <p>{{date}}</p>
        </div>
        <div class="row temperature m-1 text-center">
            <p>
                {{wLocation.main.temp | number:'1.0-0'}}ºC
            </p>
        </div>
        <div class="row weatherDescription m-1 text-center">
            <p>
                {{wLocation.weather[0].description}}
            </p>
        </div>
        <div class="row furtherDetail text-center">
            <!--(add icon to display info about what's each thing)-->
            <div class="col-12">
                Min: {{wLocation.main.temp_min | number:'1.0-0'}}ºC | Max: {{wLocation.main.temp_max |
                number:'1.0-0'}}ºC
            </div>
        </div>
    </div>
    <div class="row text-center mt-1">
        <div class="">
            <button (click)="openDeleteLocationModal(wLocation.name)" class="btn btn-light btn-lg trash"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg></button>
        </div>
    </div>
</div>

<div *ngIf="deleteLocation" class=" h100 centerFlex">
    <div class="container deleteLocationContainer text-center">
        <h1>Are you sure you want to delete this location?</h1>
        <div class="row button_list mt-5">
            <button (click)="removeLocation()" class="btn btn-light toggleDetails">
                Accept
            </button>
            <button (click)="cancelRemoveLocation()" class="btn btn-light toggleForecast">
               Cancel
            </button>
        </div>
    </div>
</div>