.customContainer{
    display: flex;
    flex-flow: column nowrap;
}
.button_list{
    display: flex;
    justify-content: space-between;
    margin: 0.25em
}
.button_list>button{
    width: auto;
    margin-top: 0.25em;

}
.button_list>button:first-child(){
    //align-self: flex-end;
}

.deleteLocationContainer h1{
   font-size: 2em;
}
.deleteLocationContainer .button_list{
   justify-content: space-around;
}
