<div class="emptyLocation-wrapper text-white bg-dark text-center">
    <form action="">
        <div class="input-group mb-3">
            <input type="text" (input)="clearAlert()" (keydown.enter)="searchLocation()" [(ngModel)]="newLocation"
                name="newLocationInput" class="form-control" placeholder="Search location..."
                aria-label="Search location..." aria-describedby="button-addon2">
            <button [disabled]="isSearching" class="btn btn-outline-secondary" (click)="searchLocation()" type="button"
                id="button-addon2">Search</button>
        </div>
        <div *ngIf="isSearching" class="spinner-border bg-dark text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
        </svg>
        <div *ngIf="showAlert" class="alert alert-primary d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            <div>
                {{alertMessage}}
            </div>
        </div>
    </form>
</div>