
<div *ngIf="wLocation.name" class="h100 locationContent">
    <div class="row" *ngIf="showAlert">
        <cacheAlert></cacheAlert>
    </div>
    <div class="row locationAndDate text-center">
        <h1>{{wLocation.name}}</h1>
        <p>{{wLocation.lastUpdated}}</p>
    </div>
    <div class="row temperature m-1 text-center">
        <p>
            {{wLocation.weather.temp | number:'1.0-0'}}ºC
        </p>
    </div>
    <div class="row weatherDescription m-1 text-center">
        <p>
            {{wLocation.weather.weather[0].description}}
        </p>
    </div>
    <div class="row furtherDetail text-center">
        <!--(add icon to display info about what's each thing)-->
        <div class="col-12">
            Feels Like: {{wLocation.weather.feels_like | number:'1.0-0'}}ºC | Humidity: {{wLocation.weather.humidity}}%
        </div>
        <div *ngIf="wLocation.weather.rain" class="col-12">
            Litres (last Hour): {{wLocation.weather.rain["1h"]}} mm<sup>3</sup>
        </div>
        <div *ngIf="wLocation.weather.snow" class="col-12">
            Snow (last Hour): {{wLocation.weather.snow["1h"]}}mm
        </div>
    </div>
</div>