<div *ngIf="error" class="h100">
    <locationError [locationName]="wLocation.name" (retryEvent)="checkValuesNeedUpdate()" [msg]="errorMessage"></locationError>
</div>
<div *ngIf="!error" class="h100">

    <div *ngIf="loading" class="h100">
        <locationUpdating [locationName]="wLocation.name"></locationUpdating>
    </div>
    <div  *ngIf="!loading" class="h100 locationContent">
        <div class="row locationAndDate text-center">
            <h1>{{wLocation.name}}</h1>
            <p>{{date}}</p>
        </div>
        <div class="row temperature m-1 text-center">
            <p>
                {{wLocation.main.temp | number:'1.0-0'}}ºC
            </p>
        </div>
        <div class="row weatherDescription m-1 text-center">
            <p>
                {{wLocation.weather[0].description}}
            </p>
        </div>
        <div class="row furtherDetail text-center">
            <!--(add icon to display info about what's each thing)-->
            <div class="col-12">
                Min: {{wLocation.main.temp_min | number:'1.0-0'}}ºC | Max: {{wLocation.main.temp_max |
                    number:'1.0-0'}}ºC
                </div>
            </div>
            
        </div>
    </div>