.customContainer{
    display: flex;
    flex-flow: column nowrap;
}
.locationContent{
    flex-grow: 9;
    display: flex;
    flex-flow: column nowrap;
}
.button_list{
    display: flex;
    justify-content: space-between;
    margin: 0.25em
}

.locationAndDate h1{
    font-size: 3em;
    font-weight: bold;
}
.locationAndDate{
    flex-grow: 3;  
    align-content: center; 
}

.temperature{
    font-size: 4em ;
    flex-grow: 3;
}
.weatherDescription{
    flex-grow: 2;
    vertical-align: middle;
    font-size: 1.25em;
}
.furtherDetail{
    align-items: stretch;
    align-content: stretch;
    flex-grow: 2;
    font-size: 1.25em;
}
